<div id="jobs_list">
  <% unless jobs.any? %>
    <div class="employee_job">
      <div class="row">
        <div class="column">
          There are no active jobs
        </div>
      </div>
    </div>
  <% else %>
  <% jobs.each_with_index do |job, index| %>
    <div class="employee_job">
      <div class="row">
      <%= render partial: 'nd_job_lookup/hrpy_employee_job',
        locals: { job: job } %>
      </div>
    </div>
    <% if jobs.to_a.count > index + 1 %>
      <br />
    <% end %>
  <% end %>
  <% end %>
</div>
