<div id="jobs_list">
  <% unless jobs.any? %>
    <div class="employee_job">
      <div class="row">
        <div class="column">
          There are no active jobs
        </div>
      </div>
    </div>
  <% else %>
  <% jobs.each_with_index do |job, index| %>
    <div class="employee_job">
      <div class="row">
      <%
        # FIXME: this should be done with a helper, probably?
        # Not sure if views can be used in partials like we are using this one...
        # Safely re-parse and format dates which may be blank
        job['start_date'] = job['start_date'].blank? ?
          '' :
          Date.strptime(job['start_date'].to_s, '%F').strftime("%-m/%-d/%Y")
        job['end_date'] = job['end_date'].blank? ?
          '' :
          Date.strptime(job['end_date'].to_s, '%F').strftime("%-m/%-d/%Y")
      %>
      <%= render partial: 'nd_job_lookup/hrpy_employee_job',
        locals: { job: job } %>
      </div>
    </div>
    <% if jobs.to_a.count > index + 1 %>
      <br />
    <% end %>
  <% end %>
  <% end %>
</div>
