<div id="jobs_list">
  <% if jobs.count == 1 && jobs[0]["Job"] == "None" %>
    <div class="employee_job">
      <div class="row">
        <div class="column">
          There are no active jobs
        </div>
      </div>
    </div>
  <% else %>
  <% jobs.each do |job| %>
    <div class="employee_job">
      <div class="row">
      <%= render partial: 'nd_job_lookup/hrpy_employee_job',
        locals: { job: job } %>
      </div>
    </div>
  <% end %>
  <% end %>
</div>
