<div id="jobs_list">
  <% jobs.each do |job| %>
    <div class="employee_job">
      <%= render partial: 'nd_job_lookup/hrpy_employee_job',
        locals: { job: job } %>
    </div>
  <% end %>
</div>
